ctransformers==0.2.27
google_api_python_client==2.167.0
google_auth_oauthlib==1.2.1
huggingface_hub==0.30.2
mysql_connector_repackaged==0.3.1
pandas==2.2.3
protobuf==6.30.2
python-dotenv==1.1.0
PyYAML==6.0.2
PyYAML==6.0.2
torch==2.6.0
transformers==4.51.3
