fastapi
uvicorn[standard]
httpx
jinja2
python-multipart
email-validator
google-auth-oauthlib
google-generativeai
google-ai-generativelanguage==0.6.15
apscheduler
supabase
PyJWT
schedule
python-jose[cryptography]==3.3.0